doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/login.css')
        link(href="https://fonts.googleapis.com/css?family=PT+Serif|Poppins|Ubuntu" rel="stylesheet")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
        script(src="https://code.getmdl.io/1.3.0/material.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
        script(src='/javascripts/login.js')

    body

        section.user
            .user_options-container
                .user_options-text
                    .user_options-unregistered
                        h2.user_unregistered-title Don't have an account?
                        p.user_unregistered-text
                            | Join now!
                        button#signup-button.user_unregistered-signup Sign up
                    .user_options-registered
                        h2.user_registered-title Have an account?
                        p.user_registered-text
                            | Press login button to login!
                        button#login-button.user_registered-login Login
                #user_options-forms.user_options-forms
                    .user_forms-login
                        h2.forms_title Login
                        form.forms_form
                            fieldset.forms_fieldset
                                .forms_field
                                    input.forms_field-input(type='email', placeholder='Email', required='', autofocus='')
                                .forms_field
                                    input.forms_field-input(type='password', placeholder='Password', required='')
                            .forms_buttons
                                button.forms_buttons-forgot(type='button') Forgot password?
                                input.forms_buttons-action(type='submit', value='Log In')
                    .user_forms-signup
                        h2.forms_title Sign Up
                        form.forms_form
                            fieldset.forms_fieldset
                                .forms_field
                                    input.forms_field-input(type='text', placeholder='Full Name', required='')
                                .forms_field
                                    input.forms_field-input(type='email', placeholder='Email', required='')
                                .forms_field
                                    input.forms_field-input(type='password', placeholder='Password', required='')
                            .forms_buttons
                                input.forms_buttons-action(type='submit', value='Sign up')






