doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/signup.css')
        link(href="https://fonts.googleapis.com/css?family=PT+Serif|Poppins|Ubuntu" rel="stylesheet")
    body
        .wrapper
            .container
                input(type = 'text' placeholder= 'username')
                br
                input(type = 'password' placeholder= 'password')
                br
                input(type = 'password' placeholder= 'repeat password')
                br
                input(type = 'email' placeholder= 'email address')
                br
                button#sign_up_button Sign up







